{
    "env": {
      "browser": true,
      "es6": true
    },
    "parserOptions": {
      "sourceType": "module",
      "ecmaVersion": 2018
    },
    "plugins": [
      "react",
      "react-hooks"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "semi": ["error", "always"],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "eqeqeq": ["error"],
        "no-implicit-coercion": ["error"],
        "prefer-const": ["error"],
        "react/prop-types": ["warn", {"skipUndeclared": true}],
        "react/react-in-jsx-scope": ["off"],
        "indent": ["error", 4, {"flatTernaryExpressions": true, "outerIIFEBody": "off"}],

        "quotes": ["error", "single"],
        "jsx-quotes": ["error", "prefer-single"],
        "quote-props": ["error", "as-needed"],
        "curly": ["error", "multi-or-nest", "consistent"],
        "dot-location": ["error", "property"],
        "no-eval": "error",
        "no-extra-bind": "error",
        "no-useless-concat": "error",
        "no-useless-escape": "error",
        "block-spacing": "error",
        "brace-style": "error",
        "spaced-comment": "error",
        "no-const-assign": "error",
        "no-var": "error",
        "no-unused-vars": ["error", { "argsIgnorePattern": "^_", "ignoreRestSiblings": true }],

        "array-bracket-spacing": ["error", "never"],
        "array-bracket-newline": ["error", {"multiline": true}],
        "array-element-newline": ["error", "consistent"],
        "object-curly-spacing": ["error", "always"],
        "object-curly-newline": ["error", {"consistent": true, "multiline": true}],
        "object-property-newline": ["error", {"allowAllPropertiesOnSameLine": true}],
        "template-curly-spacing": ["error", "never"],
        "comma-spacing": "error",
        "comma-dangle": ["error", "always-multiline"],
        "comma-style": ["error", "last"],
        "space-infix-ops": ["error"],
        "operator-linebreak": ["error", "before", {"overrides": {"=": "after"}}],
        "space-unary-ops": ["error"],
        "space-in-parens": ["error"],
        "no-multi-spaces": ["error"],
        "key-spacing": ["error"],
        "dot-notation": ["error"],
        "max-len": ["error", {
            "code": 120,
            "tabWidth": 2,
            "comments": 80,
            "ignoreComments": false,
            "ignorePattern": "^\\s+\\*\\s+@",
            "ignoreTrailingComments": true,
            "ignoreStrings": true,
            "ignoreUrls": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
        }],
        "complexity": ["error", 15]
    }
}
